.footer-nav.container
    .row
        ul.lvl-1
            li: a(href="#") Услуги                                                    
            ul.lvl-2
                li: a(href="#") Организация свадеб
                li: a(href="#") Украшение  зала
                li: a(href="#") Подготовка
                li: a(href="#") Фольгирование
                li: a(href="#") Оформление 
                li: a(href="#") Подбор персонала

        ul.lvl-1
            li: a(href="#") Продукция                                           
            ul.lvl-2
                li: a(href="#") Организация свадеб
                li: a(href="#") Украшение  зала
                li: a(href="#") Подготовка


        ul.lvl-1
            li: a(href="#") О компании
            ul.lvl-2
                li: a(href="#") Организация свадеб
                li: a(href="#") Украшение  зала
                li: a(href="#") Подготовка

        ul.lvl-1.feedback
            li Свяжитесь с нами
            ul.lvl-2
                // используйте класс .reset-paragraphs, если нужно чтобы внутри блока не было отсупов между абзацами
                li.reset-paragraphs
                    p Контактный телефон:
                    p
                        strong 8 800 3000 600
                    p E-mail: 
                        a(href="#") pochta@mail.ru
                li.reset-paragraphs
                    p Адрес: Нижний-Тагил, ул. Ленина, дом 48, офис 1.

                li.reset-paragraphs
                    .socials
                        a(href="#").sc-vk
                        a(href="#").sc-facebook
                        a(href="#").sc-twitter
                        a(href="#").sc-ok
                        a(href="#").sc-google

.copyright.container
    .row
        .shop © Магазин Креативных Праздников
        .developer Разработка:  
            a(href="#") AprilStyle
