doctype html
html(class="no-js", lang="en")
    head
        block includes
        include meta
        link(rel="stylesheet" href="#{css}style.css")
        script(src="#{js}lib/jquery-1.10.2.min.js")
        script(src="#{js}lib/modernizr-2.6.2.min.js")
        script(src="#{js}lib/bootstrap.min.js")
        script(src="//localhost:35729/livereload.js")
        title Верстка
    body
        .site
            .main
                block header
                
                div.page-content.container
                        block content
            
        footer.page-footer
            block footer

        script
            |window.jQuery || document.write('')

        block layers
        block library
        block init
