/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@cart-circle-lg-name: cart-circle-lg;
@cart-circle-lg-x: 0px;
@cart-circle-lg-y: 394px;
@cart-circle-lg-offset-x: 0px;
@cart-circle-lg-offset-y: -394px;
@cart-circle-lg-width: 62px;
@cart-circle-lg-height: 62px;
@cart-circle-lg-total-width: 430px;
@cart-circle-lg-total-height: 456px;
@cart-circle-lg-image: '/images/sprite.png';
@cart-circle-lg: 0px 394px 0px -394px 62px 62px 430px 456px '/images/sprite.png' cart-circle-lg;
@cart-inv-name: cart-inv;
@cart-inv-x: 322px;
@cart-inv-y: 82px;
@cart-inv-offset-x: -322px;
@cart-inv-offset-y: -82px;
@cart-inv-width: 26px;
@cart-inv-height: 24px;
@cart-inv-total-width: 430px;
@cart-inv-total-height: 456px;
@cart-inv-image: '/images/sprite.png';
@cart-inv: 322px 82px -322px -82px 26px 24px 430px 456px '/images/sprite.png' cart-inv;
@menu-corner-name: menu-corner;
@menu-corner-x: 128px;
@menu-corner-y: 258px;
@menu-corner-offset-x: -128px;
@menu-corner-offset-y: -258px;
@menu-corner-width: 42px;
@menu-corner-height: 70px;
@menu-corner-total-width: 430px;
@menu-corner-total-height: 456px;
@menu-corner-image: '/images/sprite.png';
@menu-corner: 128px 258px -128px -258px 42px 70px 430px 456px '/images/sprite.png' menu-corner;
@minus-red-name: minus-red;
@minus-red-x: 371px;
@minus-red-y: 40px;
@minus-red-offset-x: -371px;
@minus-red-offset-y: -40px;
@minus-red-width: 19px;
@minus-red-height: 19px;
@minus-red-total-width: 430px;
@minus-red-total-height: 456px;
@minus-red-image: '/images/sprite.png';
@minus-red: 371px 40px -371px -40px 19px 19px 430px 456px '/images/sprite.png' minus-red;
@phone-name: phone;
@phone-x: 64px;
@phone-y: 330px;
@phone-offset-x: -64px;
@phone-offset-y: -330px;
@phone-width: 62px;
@phone-height: 62px;
@phone-total-width: 430px;
@phone-total-height: 456px;
@phone-image: '/images/sprite.png';
@phone: 64px 330px -64px -330px 62px 62px 430px 456px '/images/sprite.png' phone;
@plus-red-name: plus-red;
@plus-red-x: 350px;
@plus-red-y: 61px;
@plus-red-offset-x: -350px;
@plus-red-offset-y: -61px;
@plus-red-width: 19px;
@plus-red-height: 19px;
@plus-red-total-width: 430px;
@plus-red-total-height: 456px;
@plus-red-image: '/images/sprite.png';
@plus-red: 350px 61px -350px -61px 19px 19px 430px 456px '/images/sprite.png' plus-red;
@radio-act-name: radio-act;
@radio-act-x: 412px;
@radio-act-y: 0px;
@radio-act-offset-x: -412px;
@radio-act-offset-y: 0px;
@radio-act-width: 18px;
@radio-act-height: 18px;
@radio-act-total-width: 430px;
@radio-act-total-height: 456px;
@radio-act-image: '/images/sprite.png';
@radio-act: 412px 0px -412px 0px 18px 18px 430px 456px '/images/sprite.png' radio-act;
@radio-name: radio;
@radio-x: 392px;
@radio-y: 20px;
@radio-offset-x: -392px;
@radio-offset-y: -20px;
@radio-width: 18px;
@radio-height: 18px;
@radio-total-width: 430px;
@radio-total-height: 456px;
@radio-image: '/images/sprite.png';
@radio: 392px 20px -392px -20px 18px 18px 430px 456px '/images/sprite.png' radio;
@sc-facebook-name: sc-facebook;
@sc-facebook-x: 202px;
@sc-facebook-y: 198px;
@sc-facebook-offset-x: -202px;
@sc-facebook-offset-y: -198px;
@sc-facebook-width: 28px;
@sc-facebook-height: 28px;
@sc-facebook-total-width: 430px;
@sc-facebook-total-height: 456px;
@sc-facebook-image: '/images/sprite.png';
@sc-facebook: 202px 198px -202px -198px 28px 28px 430px 456px '/images/sprite.png' sc-facebook;
@sc-google-name: sc-google;
@sc-google-x: 172px;
@sc-google-y: 228px;
@sc-google-offset-x: -172px;
@sc-google-offset-y: -228px;
@sc-google-width: 28px;
@sc-google-height: 28px;
@sc-google-total-width: 430px;
@sc-google-total-height: 456px;
@sc-google-image: '/images/sprite.png';
@sc-google: 172px 228px -172px -228px 28px 28px 430px 456px '/images/sprite.png' sc-google;
@sc-ok-name: sc-ok;
@sc-ok-x: 232px;
@sc-ok-y: 168px;
@sc-ok-offset-x: -232px;
@sc-ok-offset-y: -168px;
@sc-ok-width: 28px;
@sc-ok-height: 28px;
@sc-ok-total-width: 430px;
@sc-ok-total-height: 456px;
@sc-ok-image: '/images/sprite.png';
@sc-ok: 232px 168px -232px -168px 28px 28px 430px 456px '/images/sprite.png' sc-ok;
@sc-twitter-name: sc-twitter;
@sc-twitter-x: 292px;
@sc-twitter-y: 108px;
@sc-twitter-offset-x: -292px;
@sc-twitter-offset-y: -108px;
@sc-twitter-width: 28px;
@sc-twitter-height: 28px;
@sc-twitter-total-width: 430px;
@sc-twitter-total-height: 456px;
@sc-twitter-image: '/images/sprite.png';
@sc-twitter: 292px 108px -292px -108px 28px 28px 430px 456px '/images/sprite.png' sc-twitter;
@sc-vk-name: sc-vk;
@sc-vk-x: 262px;
@sc-vk-y: 138px;
@sc-vk-offset-x: -262px;
@sc-vk-offset-y: -138px;
@sc-vk-width: 28px;
@sc-vk-height: 28px;
@sc-vk-total-width: 430px;
@sc-vk-total-height: 456px;
@sc-vk-image: '/images/sprite.png';
@sc-vk: 262px 138px -262px -138px 28px 28px 430px 456px '/images/sprite.png' sc-vk;
@spritesheet-width: 430px;
@spritesheet-height: 456px;
@spritesheet-image: '/images/sprite.png';
@spritesheet-sprites: @cart-circle-lg @cart-inv @menu-corner @minus-red @phone @plus-red @radio-act @radio @sc-facebook @sc-google @sc-ok @sc-twitter @sc-vk;
@spritesheet: 430px 456px '/images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
