/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@cart-circle-lg-name: cart-circle-lg;
@cart-circle-lg-x: 0px;
@cart-circle-lg-y: 413px;
@cart-circle-lg-offset-x: 0px;
@cart-circle-lg-offset-y: -413px;
@cart-circle-lg-width: 62px;
@cart-circle-lg-height: 62px;
@cart-circle-lg-total-width: 449px;
@cart-circle-lg-total-height: 475px;
@cart-circle-lg-image: '/images/sprite.png';
@cart-circle-lg: 0px 413px 0px -413px 62px 62px 449px 475px '/images/sprite.png' cart-circle-lg;
@cart-inv-name: cart-inv;
@cart-inv-x: 322px;
@cart-inv-y: 101px;
@cart-inv-offset-x: -322px;
@cart-inv-offset-y: -101px;
@cart-inv-width: 26px;
@cart-inv-height: 24px;
@cart-inv-total-width: 449px;
@cart-inv-total-height: 475px;
@cart-inv-image: '/images/sprite.png';
@cart-inv: 322px 101px -322px -101px 26px 24px 449px 475px '/images/sprite.png' cart-inv;
@menu-corner-name: menu-corner;
@menu-corner-x: 128px;
@menu-corner-y: 277px;
@menu-corner-offset-x: -128px;
@menu-corner-offset-y: -277px;
@menu-corner-width: 42px;
@menu-corner-height: 70px;
@menu-corner-total-width: 449px;
@menu-corner-total-height: 475px;
@menu-corner-image: '/images/sprite.png';
@menu-corner: 128px 277px -128px -277px 42px 70px 449px 475px '/images/sprite.png' menu-corner;
@minus-red-name: minus-red;
@minus-red-x: 371px;
@minus-red-y: 59px;
@minus-red-offset-x: -371px;
@minus-red-offset-y: -59px;
@minus-red-width: 19px;
@minus-red-height: 19px;
@minus-red-total-width: 449px;
@minus-red-total-height: 475px;
@minus-red-image: '/images/sprite.png';
@minus-red: 371px 59px -371px -59px 19px 19px 449px 475px '/images/sprite.png' minus-red;
@phone-name: phone;
@phone-x: 64px;
@phone-y: 349px;
@phone-offset-x: -64px;
@phone-offset-y: -349px;
@phone-width: 62px;
@phone-height: 62px;
@phone-total-width: 449px;
@phone-total-height: 475px;
@phone-image: '/images/sprite.png';
@phone: 64px 349px -64px -349px 62px 62px 449px 475px '/images/sprite.png' phone;
@plus-red-name: plus-red;
@plus-red-x: 350px;
@plus-red-y: 80px;
@plus-red-offset-x: -350px;
@plus-red-offset-y: -80px;
@plus-red-width: 19px;
@plus-red-height: 19px;
@plus-red-total-width: 449px;
@plus-red-total-height: 475px;
@plus-red-image: '/images/sprite.png';
@plus-red: 350px 80px -350px -80px 19px 19px 449px 475px '/images/sprite.png' plus-red;
@radio-act-name: radio-act;
@radio-act-x: 392px;
@radio-act-y: 39px;
@radio-act-offset-x: -392px;
@radio-act-offset-y: -39px;
@radio-act-width: 18px;
@radio-act-height: 18px;
@radio-act-total-width: 449px;
@radio-act-total-height: 475px;
@radio-act-image: '/images/sprite.png';
@radio-act: 392px 39px -392px -39px 18px 18px 449px 475px '/images/sprite.png' radio-act;
@radio-name: radio;
@radio-x: 412px;
@radio-y: 19px;
@radio-offset-x: -412px;
@radio-offset-y: -19px;
@radio-width: 18px;
@radio-height: 18px;
@radio-total-width: 449px;
@radio-total-height: 475px;
@radio-image: '/images/sprite.png';
@radio: 412px 19px -412px -19px 18px 18px 449px 475px '/images/sprite.png' radio;
@sc-facebook-name: sc-facebook;
@sc-facebook-x: 262px;
@sc-facebook-y: 157px;
@sc-facebook-offset-x: -262px;
@sc-facebook-offset-y: -157px;
@sc-facebook-width: 28px;
@sc-facebook-height: 28px;
@sc-facebook-total-width: 449px;
@sc-facebook-total-height: 475px;
@sc-facebook-image: '/images/sprite.png';
@sc-facebook: 262px 157px -262px -157px 28px 28px 449px 475px '/images/sprite.png' sc-facebook;
@sc-google-name: sc-google;
@sc-google-x: 202px;
@sc-google-y: 217px;
@sc-google-offset-x: -202px;
@sc-google-offset-y: -217px;
@sc-google-width: 28px;
@sc-google-height: 28px;
@sc-google-total-width: 449px;
@sc-google-total-height: 475px;
@sc-google-image: '/images/sprite.png';
@sc-google: 202px 217px -202px -217px 28px 28px 449px 475px '/images/sprite.png' sc-google;
@sc-ok-name: sc-ok;
@sc-ok-x: 172px;
@sc-ok-y: 247px;
@sc-ok-offset-x: -172px;
@sc-ok-offset-y: -247px;
@sc-ok-width: 28px;
@sc-ok-height: 28px;
@sc-ok-total-width: 449px;
@sc-ok-total-height: 475px;
@sc-ok-image: '/images/sprite.png';
@sc-ok: 172px 247px -172px -247px 28px 28px 449px 475px '/images/sprite.png' sc-ok;
@sc-twitter-name: sc-twitter;
@sc-twitter-x: 232px;
@sc-twitter-y: 187px;
@sc-twitter-offset-x: -232px;
@sc-twitter-offset-y: -187px;
@sc-twitter-width: 28px;
@sc-twitter-height: 28px;
@sc-twitter-total-width: 449px;
@sc-twitter-total-height: 475px;
@sc-twitter-image: '/images/sprite.png';
@sc-twitter: 232px 187px -232px -187px 28px 28px 449px 475px '/images/sprite.png' sc-twitter;
@sc-vk-name: sc-vk;
@sc-vk-x: 292px;
@sc-vk-y: 127px;
@sc-vk-offset-x: -292px;
@sc-vk-offset-y: -127px;
@sc-vk-width: 28px;
@sc-vk-height: 28px;
@sc-vk-total-width: 449px;
@sc-vk-total-height: 475px;
@sc-vk-image: '/images/sprite.png';
@sc-vk: 292px 127px -292px -127px 28px 28px 449px 475px '/images/sprite.png' sc-vk;
@star-name: star;
@star-x: 432px;
@star-y: 0px;
@star-offset-x: -432px;
@star-offset-y: 0px;
@star-width: 17px;
@star-height: 17px;
@star-total-width: 449px;
@star-total-height: 475px;
@star-image: '/images/sprite.png';
@star: 432px 0px -432px 0px 17px 17px 449px 475px '/images/sprite.png' star;
@spritesheet-width: 449px;
@spritesheet-height: 475px;
@spritesheet-image: '/images/sprite.png';
@spritesheet-sprites: @cart-circle-lg @cart-inv @menu-corner @minus-red @phone @plus-red @radio-act @radio @sc-facebook @sc-google @sc-ok @sc-twitter @sc-vk @star;
@spritesheet: 449px 475px '/images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
