/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@cart-circle-lg-name: cart-circle-lg;
@cart-circle-lg-x: 64px;
@cart-circle-lg-y: 248px;
@cart-circle-lg-offset-x: -64px;
@cart-circle-lg-offset-y: -248px;
@cart-circle-lg-width: 62px;
@cart-circle-lg-height: 62px;
@cart-circle-lg-total-width: 348px;
@cart-circle-lg-total-height: 374px;
@cart-circle-lg-image: '/images/sprite.png';
@cart-circle-lg: 64px 248px -64px -248px 62px 62px 348px 374px '/images/sprite.png' cart-circle-lg;
@cart-inv-name: cart-inv;
@cart-inv-x: 322px;
@cart-inv-y: 0px;
@cart-inv-offset-x: -322px;
@cart-inv-offset-y: 0px;
@cart-inv-width: 26px;
@cart-inv-height: 24px;
@cart-inv-total-width: 348px;
@cart-inv-total-height: 374px;
@cart-inv-image: '/images/sprite.png';
@cart-inv: 322px 0px -322px 0px 26px 24px 348px 374px '/images/sprite.png' cart-inv;
@menu-corner-name: menu-corner;
@menu-corner-x: 128px;
@menu-corner-y: 176px;
@menu-corner-offset-x: -128px;
@menu-corner-offset-y: -176px;
@menu-corner-width: 42px;
@menu-corner-height: 70px;
@menu-corner-total-width: 348px;
@menu-corner-total-height: 374px;
@menu-corner-image: '/images/sprite.png';
@menu-corner: 128px 176px -128px -176px 42px 70px 348px 374px '/images/sprite.png' menu-corner;
@phone-name: phone;
@phone-x: 0px;
@phone-y: 312px;
@phone-offset-x: 0px;
@phone-offset-y: -312px;
@phone-width: 62px;
@phone-height: 62px;
@phone-total-width: 348px;
@phone-total-height: 374px;
@phone-image: '/images/sprite.png';
@phone: 0px 312px 0px -312px 62px 62px 348px 374px '/images/sprite.png' phone;
@sc-facebook-name: sc-facebook;
@sc-facebook-x: 292px;
@sc-facebook-y: 26px;
@sc-facebook-offset-x: -292px;
@sc-facebook-offset-y: -26px;
@sc-facebook-width: 28px;
@sc-facebook-height: 28px;
@sc-facebook-total-width: 348px;
@sc-facebook-total-height: 374px;
@sc-facebook-image: '/images/sprite.png';
@sc-facebook: 292px 26px -292px -26px 28px 28px 348px 374px '/images/sprite.png' sc-facebook;
@sc-google-name: sc-google;
@sc-google-x: 262px;
@sc-google-y: 56px;
@sc-google-offset-x: -262px;
@sc-google-offset-y: -56px;
@sc-google-width: 28px;
@sc-google-height: 28px;
@sc-google-total-width: 348px;
@sc-google-total-height: 374px;
@sc-google-image: '/images/sprite.png';
@sc-google: 262px 56px -262px -56px 28px 28px 348px 374px '/images/sprite.png' sc-google;
@sc-ok-name: sc-ok;
@sc-ok-x: 232px;
@sc-ok-y: 86px;
@sc-ok-offset-x: -232px;
@sc-ok-offset-y: -86px;
@sc-ok-width: 28px;
@sc-ok-height: 28px;
@sc-ok-total-width: 348px;
@sc-ok-total-height: 374px;
@sc-ok-image: '/images/sprite.png';
@sc-ok: 232px 86px -232px -86px 28px 28px 348px 374px '/images/sprite.png' sc-ok;
@sc-twitter-name: sc-twitter;
@sc-twitter-x: 202px;
@sc-twitter-y: 116px;
@sc-twitter-offset-x: -202px;
@sc-twitter-offset-y: -116px;
@sc-twitter-width: 28px;
@sc-twitter-height: 28px;
@sc-twitter-total-width: 348px;
@sc-twitter-total-height: 374px;
@sc-twitter-image: '/images/sprite.png';
@sc-twitter: 202px 116px -202px -116px 28px 28px 348px 374px '/images/sprite.png' sc-twitter;
@sc-vk-name: sc-vk;
@sc-vk-x: 172px;
@sc-vk-y: 146px;
@sc-vk-offset-x: -172px;
@sc-vk-offset-y: -146px;
@sc-vk-width: 28px;
@sc-vk-height: 28px;
@sc-vk-total-width: 348px;
@sc-vk-total-height: 374px;
@sc-vk-image: '/images/sprite.png';
@sc-vk: 172px 146px -172px -146px 28px 28px 348px 374px '/images/sprite.png' sc-vk;
@spritesheet-width: 348px;
@spritesheet-height: 374px;
@spritesheet-image: '/images/sprite.png';
@spritesheet-sprites: @cart-circle-lg @cart-inv @menu-corner @phone @sc-facebook @sc-google @sc-ok @sc-twitter @sc-vk;
@spritesheet: 348px 374px '/images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
