// ** type
.link(@color: rgba(194, 100, 158, .4)) { 
    border-bottom: 1px solid @color;
    text-decoration: none;

    &:hover,
    &:focus {
        border-color: transparent;
        text-decoration: none;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 24px;
  margin-bottom: 18px;
}

// ** grid
.container {
    padding: 0 @container-padding; 
}


// ** nav
.nav {
  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: none;
      border-color: none;
    }
  }
}

