@import "bootstrap/bootstrap.less";
@import "custom-variables.less";
@import "custom-other.less";

@import "_sprites.less";
@import "icons.less";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic&subset=latin,cyrillic-ext);

@import "non-responsive.less";

//@import "jquery.bxslider.less";


//
// == Общие элементы
// ------------------------------------------------------------

.reset-paragraphs {
    p { 
        margin: 0;
        bottom: 0;
    }
}

.inverted() {
    color: #fff;

    a {
        color: #fff;
        .link( rgba(255, 255, 255, .3) );
    }
}

// ** Хлебные крошки
.breadcrumbs {
    .list-unstyled;
    .clearfix;
    margin: 18px 0 0;
    background: #f4f4f4;
    margin: 0 -@container-padding 20px;
    padding: 10px @container-padding;
    color: #6e666a;

    a {
        .link(@link-border-color);
    }

    >li {
        float: left;
        position: relative;

        &:before { 
            .glyphicon;
            content: "\e080";
            position: absolute;
            top: 6px;
            left: 12px;
            color: #aeaeae;
            font-size: 7px;
            display: none;
        }
    }

    >li + li {
        padding-left: 36px;

        &:before {
            display: block; 
        }
    }

}


// ** Pagination
.pagination {
  margin: 0 -@container-padding;
  padding: 26px @container-padding - 12px;
  border-top: 1px solid #e6e6e6;
  margin-top: 42px;
  .clearfix;

  > li {
      position: relative;
      float: left; // Collapse white-space
      padding: @padding-base-vertical @padding-base-horizontal;
      line-height: @line-height-base;
      text-decoration: none;
      color: @pagination-color;
      background-color: @pagination-bg;
      margin-left: -1px;
      list-style: none;
      margin: 0;

      > .next,
      > .previous {
          border: transparent;
          font-size: 20px;
          line-height: 20px;

          &:hover,
          &:focus {
              text-decoration: none;
              border: transparent;
          }
      }

      > a {
          .link(@link-border-color);
      }

  }

  > .active {
      z-index: 2;
      background-color: @pagination-active-bg;
      border-radius: @border-radius-base;
      cursor: default;

      >a,
      >span {
          color: #fff;
          border: transparent;

          &:hover,
          &:focus {
              text-decoration: none;
              border: transparent;
          }
      }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: #ccc;
      cursor: @cursor-disabled;
    }
  }

}

// ** Иконки

.icon {
    display: inline-block;
}

.icon-caret-inv {
    .sprite(@cart-inv);
}


//
// == Сетка
// ------------------------------------------------------------

.page-content {
    background: #fff;
}

// ** Header
.page-header {
    padding-top: 18px;
    padding-bottom: 36px;
    margin: 0;
    border-bottom: 0;
    color: #fff; 

    .logo {
        .make-xs-column(5);

        img {
            margin-left: -14px;
        }
    }
    
    .location {
        font-size: 13px;
        margin-bottom: 12px;
    }

    .extra {
        .make-xs-column(7);
    }

    .additional-links {
        .list-inline;
        .make-xs-column(12);
        .inverted();
        margin-bottom: 44px;

        >li {
            padding: 0 28px 0 0;
        }
    }


}

.header-block {
    .make-xs-column(6);
    padding-left: 78px;

    .text { 
        font-size: 13px;
    }

    .num {
        font-size: 24px;
        line-height: 1em;
        font-weight: 600;
        margin-bottom: 4px;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 6px;
        left: 0;
        .sprite(@cart-circle-lg);
    }
}

.phone-block:before {
    .sprite-position(@phone);
}

// ** Main menu
.main-menu {
    background: #fff;
    border: 0;
    margin-left: -@container-padding;
    margin-right: -@container-padding + @menu-corner-width;
    margin-bottom: 0;
    height: 70px;
    border-radius: 0;

    .nav>li>a {
        padding: 25px @container-padding;
        text-transform: uppercase;
        color: @headings-color;
        font-weight: 600;
        border-right: 1px solid #efefef;
        position: relative;

        &:hover,
        &:focus {
            background:#fff;
        }
    }

    .open > a {
        &,
        &:hover,
        &:focus {
            background:#fff;
            border-right: 1px solid #efefef;
        }
    }


    .glyphicon-chevron-down {
        position: absolute;
        color: @brand-primary;
        font-size: 12px;
        right: 10px;
        top: 30px;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        .sprite(@menu-corner);
    }

    .navbar-form {
        margin-top: 18px;
    }

    .dropdown-menu {
        border: 1px solid #efefef;

        > li > a {
            padding: 12px @container-padding;
        }
    }

}

.navbar-search {
    margin-right: 0;
    padding-right: 16px;

    .btn  {
        background: none;
        border: 0;
        color: @brand-primary;
        position: absolute;
        top: 8px;
        right: 10px;
        padding: 0;
    }

    .form-group {
        position: relative;
    }

    .form-control {
        font-weight: 600;
        padding-right: 32px;
        .placeholder(@headings-color);
        width: 242px;
    }
}


// ** Footer
.footer-nav {
    background: #f2f2f2;
    border-top: 1px solid #e2e2e2;
    padding-top: 32px;
    padding-bottom: 32px;

    ul {
        .list-unstyled; 
        color: #403232;
        margin: 0;

        >li >a {
            color: #403232;
        }

    }

    .lvl-1 {
        .make-xs-column(3);

        >li {
            margin-bottom: 12px;
            font-weight: bold;
        }
    }

    .lvl-2 {
        >li {
            padding: 8px 0;

            >a {
                padding-left: 14px;
                position: relative;

                &:before {
                    content: "\e080";
                    .glyphicon;
                    color: #b2b2b2;
                    font-size: 8px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    line-height: 20px;
                }
            }
        }
    }
}

.socials {
    .clearfix; 

    >a { 
        .sprite-width(@sc-vk);
        .sprite-height(@sc-vk);
        .sprite-image(@sc-vk);
        background-color: #252525;
        border-radius: @sc-vk-width;
        margin-right: 8px;
        float: left;
    }

    .sc-vk       { .sprite-position(@sc-vk); }
    .sc-facebook { .sprite-position(@sc-facebook); }
    .sc-twitter  { .sprite-position(@sc-twitter); }
    .sc-ok       { .sprite-position(@sc-ok); }
    .sc-google   { .sprite-position(@sc-google); }

}

.copyright {
    padding: 24px;
    font-size: 13px;
    .inverted();

    .shop {
        .make-xs-column(9);
    }
    .developer {
        .make-xs-column(3);
    }
}


//
// == Статья
// ------------------------------------------------------------

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th {
        border: 2px solid @brand-primary;
        border-width: 2px 0;
      }
    }
  }
}

.article {
    table { 
        .table;
    }

    img {
        &.right {
            margin-left: @grid-pad;
        }
        &.left {
            margin-right: @grid-pad;
        }
    }

    ul,
    ol {
        padding-left: 12px;
        list-style: none; 
        margin-bottom: 24px;

        >li { 
            list-style:none; 
            padding-left: 28px;
            position: relative;

            + li {
                margin-top: 8px;
            }

            &:before {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                color: @brand-primary;
            }
        }
    }

    ul {
        >li:before {
            content: "\2014";
            font-weight: bold;
        }
    }

    ol {
        list-style: none; 
        counter-reset: point; 

        >li:before {
            content: counter(point); 
            counter-increment: point 1; 
        }

        >li:nth-child(-n+9)::before { 
            content: "0"counter(point); 
        }

    }


}
