<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/lib/jquery-1.10.2.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
    <script src="../js/lib/bootstrap-select.min.js"></script>
    <script src="../js/lib/jquery.backstretch.min.js"></script>
    <script src="../js/lib/jquery.ezmark.min.js"></script>
    <script src="../js/lib/jquery.sliderPro.min.js"></script>
    <script src="../js/lib/jquery.fancybox.pack.js"></script>
    <script src="../js/lib/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>
    <!--script(src="//localhost:35729/livereload.js")--><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../js/lib/html5shiv.min.js"></script>
    <script src="../js/lib/respond.min.js"></script><![endif]-->
    <title>Верстка</title>
  </head>
  <body>
    <script>$.backstretch("../images/bg1440.jpg");</script>
    <div class="site">
      <div class="main">
        <header class="page-header">
          <div class="container">
            <div class="row">
              <div class="logo"><img src="../images/logo.png" class="logo-pic"></div>
              <div class="extra">
                <div class="row">
                  <div class="header-block basket-block">
                    <div class="title">Корзина</div>
                    <div class="num"><a href="#">0</a></div>
                    <div class="text">Положите товар или услугу</div>
                  </div>
                  <div class="header-block callback-block">
                    <div class="title">Телефон для связи</div>
                    <div class="num">8 800 3000 600</div>
                    <div class="text">пн. - пт. с  10:00 до  19:00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="container">
          <div class="navbar main-menu"> 
            <ul class="nav navbar-nav"> 
              <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" class="dropdown-toggle">Услуги<span class="glyphicon glyphicon-chevron-down"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Свадебный декор</a></li>
                  <li><a href="#">Детские праздники</a></li>
                </ul>
              </li>
              <li class="active"><a href="#" data-toggle="dropdown" role="button" class="dropdown-toggle">Продукция              <span class="glyphicon glyphicon-chevron-down"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Свадебный декор</a></li>
                  <li class="active"><a href="#">Детские праздники</a></li>
                </ul>
              </li>
              <li><a href="#">Отзывы            </a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
            <div class="navbar-form navbar-right navbar-search">
              <div class="form-group">
                <input type="text" placeholder="ПОИСК" class="form-control">
                <button type="submit" class="btn glyphicon glyphicon-search"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="page-content container">
          <ul class="breadcrumbs">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Продукты</a></li>
            <li><a href="#">Для свадьбы</a></li>
            <li><span>Корзина</span></li>
          </ul>
          <h1 class="page-title">Корзина</h1>
          <div class="base-grid product-description">
            <div class="main">
              <div class="basket-list">
                <div class="basket-item">
                  <div class="row">
                    <div class="image image-cell cell"><img src="http://placehold.it/55x60"></div>
                    <div class="title text-cell cell"><a href="#">Фонтан из воздушных шаров</a></div>
                    <div class="price text-cell cell">120 руб.</div>
                    <div class="counter control-cell cell">
                      <div class="counter-control-set"><a href="#" class="counter-down"></a>
                        <input type="text" value="1" class="form-control"><a href="#" class="counter-up"></a>
                      </div>
                    </div>
                    <div class="price price-total text-cell cell">240 руб.</div>
                    <div class="remove cell"><a href="#" class="remove-basket-item">&times;</a></div>
                  </div>
                </div>
                <div class="basket-item">
                  <div class="row">
                    <div class="image image-cell cell"><img src="http://placehold.it/55x60"></div>
                    <div class="title text-cell cell"><a href="#">Фонтан из воздушных шаров</a></div>
                    <div class="price text-cell cell">120 руб.</div>
                    <div class="counter control-cell cell">
                      <div class="counter-control-set"><a href="#" class="counter-down"></a>
                        <input type="text" value="1" class="form-control"><a href="#" class="counter-up"></a>
                      </div>
                    </div>
                    <div class="price price-total text-cell cell">240 руб.</div>
                    <div class="remove cell"><a href="#" class="remove-basket-item">&times;</a></div>
                  </div>
                </div>
                <div class="basket-item">
                  <div class="row">
                    <div class="image image-cell cell"><img src="../images/no-image-basket.png"></div>
                    <div class="title text-cell cell"><a href="#">Оформление приглашений, ручная работа.</a></div>
                    <div class="price text-cell cell">120 руб.</div>
                    <div class="counter control-cell cell">
                      <div class="counter-control-set"><a href="#" class="counter-down"></a>
                        <input type="text" value="1" class="form-control"><a href="#" class="counter-up"></a>
                      </div>
                    </div>
                    <div class="price price-total text-cell cell">240 руб.</div>
                    <div class="remove cell"><a href="#" class="remove-basket-item">&times;</a></div>
                  </div>
                </div>
                <div class="basket-item">
                  <div class="row">
                    <div class="image image-cell cell"><img src="../images/no-image-basket.png"></div>
                    <div class="title text-cell cell"><a href="#">Фонтан из воздушных шаров</a></div>
                    <div class="price text-cell cell">120 руб.</div>
                    <div class="counter control-cell cell">
                      <div class="counter-control-set"><a href="#" class="counter-down"></a>
                        <input type="text" value="1" class="form-control"><a href="#" class="counter-up"></a>
                      </div>
                    </div>
                    <div class="price price-total text-cell cell">240 руб.</div>
                    <div class="remove cell"><a href="#" class="remove-basket-item">&times;</a></div>
                  </div>
                </div>
              </div><a href="#" class="btn btn-default add-basket-btn">Добавить еще товаров</a>
            </div>
            <div class="sidebar">
              <div class="side-block basket-confirm">
                <div class="product-price">
                  <div class="title">Общая стоимость</div>
                  <div class="delivery-status">Без доставки</div>
                  <div class="value"> <span class="num">30 400</span> руб.
                  </div>
                </div>
                <div class="order-btn-wrap"><a href="#" class="btn btn-primary cart-btn">ОФОРМИТЬ ЗАКАЗ</a></div>
                <dl class="delivery-info">
                  <dt class="title">Самовывоз: Бесплатно</dt>
                  <dd class="value">Нижний-Тагил, ул. Ленина, дом 48, офис 1. (c 10:00 до 19:00)</dd>
                </dl>
                <dl class="delivery-info">
                  <dt class="title">Доставка: от 120 руб.</dt>
                  <dd class="value">Более точную стоимость доставки можете уточнить у менеджера по телефону: 8 800 300 600</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <div class="footer-nav container">
        <div class="row">
          <ul class="lvl-1">
            <li><a href="#">Услуги                                                    </a></li>
            <ul class="lvl-2">
              <li><a href="#">Организация свадеб</a></li>
              <li><a href="#">Украшение  зала</a></li>
              <li><a href="#">Подготовка</a></li>
              <li><a href="#">Фольгирование</a></li>
              <li><a href="#">Оформление </a></li>
              <li><a href="#">Подбор персонала</a></li>
            </ul>
          </ul>
          <ul class="lvl-1">
            <li><a href="#">Продукция                                           </a></li>
            <ul class="lvl-2">
              <li><a href="#">Организация свадеб</a></li>
              <li><a href="#">Украшение  зала</a></li>
              <li><a href="#">Подготовка</a></li>
            </ul>
          </ul>
          <ul class="lvl-1">
            <li><a href="#">О компании</a></li>
            <ul class="lvl-2">
              <li><a href="#">Организация свадеб</a></li>
              <li><a href="#">Украшение  зала</a></li>
              <li><a href="#">Подготовка</a></li>
            </ul>
          </ul>
          <ul class="lvl-1 feedback">
            <li>Свяжитесь с нами</li>
            <ul class="lvl-2">
              <!-- используйте класс .reset-paragraphs, если нужно чтобы внутри блока не было отсупов между абзацами-->
              <li class="reset-paragraphs">
                <p>Контактный телефон:</p>
                <p><strong>8 800 3000 600</strong></p>
                <p>E-mail: <a href="#">pochta@mail.ru</a></p>
              </li>
              <li class="reset-paragraphs">
                <p>Адрес: Нижний-Тагил, ул. Ленина, дом 48, офис 1.</p>
              </li>
              <li class="reset-paragraphs">
                <div class="socials"><a href="#" class="sc-vk"></a><a href="#" class="sc-facebook"></a><a href="#" class="sc-twitter"></a><a href="#" class="sc-ok"></a><a href="#" class="sc-google"></a></div>
              </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="copyright container">
        <div class="row">
          <div class="shop">© Магазин Креативных Праздников</div>
          <div class="developer">Разработка:  <a href="#">AprilStyle</a></div>
        </div>
      </div>
    </footer>
  </body>
</html>