//Стилевая страница
//макет

//Базовый шаблон
extends jade/layout
 
//Подключение mixin
append includes
 
// Подключение библиотек скриптов
append library

    
// Инициализация скриптов
append init

//----------------------------------------------------------------------------------------------------

// Шапка
append header
    include jade/header
    
//Контент
append content
    ul.breadcrumbs
        li: a(href="#") Главная
        li: span Новости

    article.article

        h1 Новости
        h2 Новости
        h3 Новости
        h4 Новости

        p Что подарить друзьям и подругам, родным и знакомым на Новый год, День Валентина, 23 февраля, 8 Марта,  День рождения, юбилей, свадьбу и другие торжества? А еще начальнику нужно подобрать подарок и коллегам что-нибудь недорогое... Ломать голову над выбором подарков нам приходится так часто, что иногда мы от этого устаем. 
        p Интернет-магазин, мы надеемся, хотя бы отчасти поможет Вам избавиться от "головной боли" при выборе подарков. Подарки для мужчин и женщин, коллег, шефа (а ведь у него все есть!), друзей и знакомых - мы постарались подобрать такие полезные и забавные подарки, которые Вам приятно будет дарить, а получателю подарка ни за что не захочется его передаривать! 

        h3 Нумерованный список

        ol
            li значение
            li значение
            li значение
            li значение
            li значение
            li значение
            li значение
            li значение
            li значение
            li значение
            li значение
            li значение
            li значение

        h3 Список

        ul
            li значение
            li значение
            li значение
            li значение
            li значение
            li значение

        img(src="http://placehold.it/380x270").left

        h3 Абзац с обтеканием картинки

        p Что подарить друзьям и подругам, родным и знакомым на Новый год, День Валентина, 23 февраля, 8 Марта,  День рождения, юбилей, свадьбу и другие торжества? А еще начальнику нужно подобрать подарок и коллегам что-нибудь недорогое... Ломать голову над выбором подарков нам приходится так часто, что иногда мы от этого устаем. 
        p Интернет-магазин, мы надеемся, хотя бы отчасти поможет Вам избавиться от "головной боли" при выборе подарков. Подарки для мужчин и женщин, коллег, шефа (а ведь у него все есть!), друзей и знакомых - мы постарались подобрать такие полезные и забавные подарки, которые Вам приятно будет дарить, а получателю подарка ни за что не захочется его передаривать! 

        h3 Таблица
            
        table
            tr
                th Имя поля
                th Имя поля
                th Имя поля
                th Имя поля
            tr
                td Значение
                td Значение
                td Значение
                td Значение
            tr
                td Значение
                td Значение
                td Значение
                td Значение
            tr
                td Значение
                td Значение
                td Значение
                td Значение

        p
            a.btn.btn-primary В КОРЗИНУ
                

    ul.pagination
        li.disabled: a(href="#").previous &larr;
        li.active: a(href="#") 1
        li: a(href="#") 2
        li: a(href="#") 3
        li: a(href="#").next &rarr;

    
append footer
    include jade/footer
