//Корзина
//макет

//Базовый шаблон
extends jade/layout
 
//Подключение mixin
append includes
 
// Подключение библиотек скриптов
append library

    
// Инициализация скриптов
append init

//----------------------------------------------------------------------------------------------------

// Шапка
append header
    include jade/header
    
//Контент
append content

    ul.breadcrumbs
        li: a(href="#") Главная
        li: a(href="#") Продукты
        li: a(href="#") Для свадьбы
        li: span Корзина

    h1.page-title Корзина

    .base-grid.product-description
        .main
            .basket-list
                .basket-item
                    .row
                        .image.image-cell.cell
                            img(src="http://placehold.it/55x60")
                        .title.text-cell.cell
                            a(href="#") Фонтан из воздушных шаров
                        .price.text-cell.cell
                            |120 руб.
                        .counter.control-cell.cell
                            .counter-control-set
                                a.counter-down(href="#")
                                input.form-control(type="text" value="1")
                                a.counter-up(href="#")
                        .price.price-total.text-cell.cell
                            |240 руб.
                        .remove.cell
                            a(href="#").remove-basket-item &times;
                .basket-item
                    .row
                        .image.image-cell.cell
                            img(src="http://placehold.it/55x60")
                        .title.text-cell.cell
                            a(href="#") Фонтан из воздушных шаров
                        .price.text-cell.cell
                            |120 руб.
                        .counter.control-cell.cell
                            .counter-control-set
                                a.counter-down(href="#")
                                input.form-control(type="text" value="1")
                                a.counter-up(href="#")
                        .price.price-total.text-cell.cell
                            |240 руб.
                        .remove.cell
                            a(href="#").remove-basket-item &times;
                .basket-item
                    .row
                        .image.image-cell.cell
                            img(src="#{img}no-image-basket.png")
                        .title.text-cell.cell
                            a(href="#") Оформление приглашений, ручная работа.
                        .price.text-cell.cell
                            |120 руб.
                        .counter.control-cell.cell
                            .counter-control-set
                                a.counter-down(href="#")
                                input.form-control(type="text" value="1")
                                a.counter-up(href="#")
                        .price.price-total.text-cell.cell
                            |240 руб.
                        .remove.cell
                            a(href="#").remove-basket-item &times;
                .basket-item
                    .row
                        .image.image-cell.cell
                            img(src="#{img}no-image-basket.png")
                        .title.text-cell.cell
                            a(href="#") Фонтан из воздушных шаров
                        .price.text-cell.cell
                            |120 руб.
                        .counter.control-cell.cell
                            .counter-control-set
                                a.counter-down(href="#")
                                input.form-control(type="text" value="1")
                                a.counter-up(href="#")
                        .price.price-total.text-cell.cell
                            |240 руб.
                        .remove.cell
                            a(href="#").remove-basket-item &times;

            a.btn.btn-default.add-basket-btn(href="#") Добавить еще товаров


        .sidebar
            .side-block.basket-confirm
                .product-price
                    .title Общая стоимость
                    .delivery-status Без доставки
                    .value 
                        span.num 30 400
                        = " "
                        | руб.
                .order-btn-wrap
                    a(href="#").btn.btn-primary.cart-btn ОФОРМИТЬ ЗАКАЗ
                dl.delivery-info
                    dt.title Самовывоз: Бесплатно
                    dd.value Нижний-Тагил, ул. Ленина, дом 48, офис 1. (c 10:00 до 19:00)
                dl.delivery-info
                    dt.title Доставка: от 120 руб.
                    dd.value Более точную стоимость доставки можете уточнить у менеджера по телефону: 8 800 300 600

append footer
    include jade/footer
