//Главная страница
//макет

//Базовый шаблон
extends jade/layout
 
//Подключение mixin
append includes
 
// Подключение библиотек скриптов
append library

    
// Инициализация скриптов
append init

//----------------------------------------------------------------------------------------------------

// Шапка
append header
    include jade/header
    
//Контент
append content
    h1 hahah
    
append footer
    include jade/footer
