//Главная страница
//макет

//Базовый шаблон
extends jade/layout
 
//Подключение mixin
append includes
 
// Подключение библиотек скриптов
append library

    
// Инициализация скриптов
append init

//----------------------------------------------------------------------------------------------------

// Шапка
append header
    include jade/header
    
//Контент
append content

    .homepage-slider
        #homepage-slider
            .homepage-banner
                img(src="http://placehold.it/1000x405" width="1000" height="405")
                .caption
                    h2.h1 Лучшая свадьба для Вас!
                    p Организуем свадьбу любого формата и  масташтаб. Возьмем все хлопоты на себя. Вы празднуйте, мы работаем
                    p: a(href="#").btn.btn-primary Подробнее
            .homepage-banner
                img(src="http://placehold.it/1000x405" width="1000" height="405")
                .caption
                    h2.h1 Лучшая свадьба для Вас!
                    p Организуем свадьбу любого формата и  масташтаб. Возьмем все хлопоты на себя. Вы празднуйте, мы работаем
                    p: a(href="#").btn.btn-primary Подробнее
            .homepage-banner
                img(src="http://placehold.it/1000x405" width="1000" height="405")
                .caption
                    h2.h1 Лучшая свадьба для Вас!
                    p Организуем свадьбу любого формата и  масташтаб. Возьмем все хлопоты на себя. Вы празднуйте, мы работаем
                    p: a(href="#").btn.btn-primary Подробнее
            .homepage-banner
                img(src="http://placehold.it/1000x405" width="1000" height="405")
                .caption
                    h2.h1 Лучшая свадьба для Вас!
                    p Организуем свадьбу любого формата и  масташтаб. Возьмем все хлопоты на себя. Вы празднуйте, мы работаем
                    p: a(href="#").btn.btn-primary Подробнее

    .mini-teasers-list
        .mini-teaser
            a(href="#")
                img(src="#{img}car-circle.png").image
                .text Бесплатный выезд дизайнера
        .mini-teaser
            a(href="#")
                img(src="#{img}time-circle.png").image
                .text Экономия времени и денег
        .mini-teaser
            a(href="#")
                img(src="#{img}shield-circle.png").image
                .text Надежность и гарантии
        .mini-teaser
            a(href="#")
                img(src="#{img}shield-circle.png").image
                .text Надежность и гарантии
    .teasers.homepage-teasers
        .teaser-item
            section.image
                a(href="#"): img(src="http://placehold.it/332x182")
                i.arr
            .text 
                h4.title: СВАДЕБНЫЙ ДЕКОР
                p Красивые и безумные, шумные и громкие.. Только профессионалы с слиензией
                a(href="#").btn.btn-primary Подробнее
        .teaser-item.second
            section.image
                a(href="#"): img(src="http://placehold.it/332x182")
                i.arr
            .text 
                h4.title: СВАДЕБНЫЙ ДЕКОР
                p Красивые и безумные, шумные и громкие.. Только профессионалы с слиензией
                a(href="#").btn.btn-primary Подробнее
        .teaser-item.special
            section.image
                a(href="#"): img(src="http://placehold.it/332x182")
                i.arr
            .text 
                h4.title: a(href="#") Распродажа новогодней атрибутики
                p Красивые и безумные, шумные и громкие.. Только профессионалы с слиензией
            i.special-marker
        .all-news-link
            a(href="#") Все новости и акции

    .explainer
        .block
            h1 
                |Популярные 
                br
                |товары
        .block
            p У нас вы сможете подобрать  нужные для себя вещи для оформления свадеб, дней рождения и любых других праздиников, работаем мы в городе Нижнем Тагиле. Бесплатная доставка от 1000 руб.
            p 
                a(href="#") Подробнее

    .category
        h3.category-title 
            a(href="#") Для свадьбы
            small 450 товаров
        .products
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.

    .category
        h3.category-title  
            a(href="#") Для нового года
            small 120 товаров
        .products
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.

    .category
        h3.category-title  
            a(href="#") Фейерверки
            small 100 товаров
        .products
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.
            .product-item 
                section.image
                    a(href="#"): img(src="http://placehold.it/220x220")
                .text
                    .title: a(href="#") Новогодние яички
                    .price 120 руб.

append footer
    include jade/footer
