//Главная страница
//макет

//Базовый шаблон
extends jade/layout
 
//Подключение mixin
append includes
 
// Подключение библиотек скриптов
append library

    
// Инициализация скриптов
append init

//----------------------------------------------------------------------------------------------------

// Шапка
append header
    include jade/header
    
//Контент
append content

    ul.breadcrumbs
        li: a(href="#") Главная
        li: a(href="#") Продукты
        li: a(href="#") Для свадьбы
        li: span Шары

    h1.page-title Шары

    .base-grid
        .main
            .filter 
                .row
                    .form-group
                        label По цене
                        select.form-control.selectpicker 
                            option 1
                            option 2
                            option 3
                    .form-group
                        label По назначению
                        select.form-control.selectpicker
                            option 1
                            option 2
                            option 3
                    .form-group
                        label По цвету
                        select.form-control.selectpicker
                            option 1
                            option 2
                            option 3

            .products
                .product-item 
                    .bg
                    .inner
                        media.image
                            a(href="#"): img(src="http://placehold.it/220x220" width="220" height="220")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
                        a.btn.btn-primary.cart-btn В КОРЗИНУ
                            i.icon.icon-cart-inv
                .product-item 
                    .bg
                    .inner
                        media.image
                            a(href="#"): img(src="http://placehold.it/220x220" width="220" height="220")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
                        a.btn.btn-primary.cart-btn В КОРЗИНУ
                            i.icon.icon-cart-inv
                .product-item 
                    .bg
                    .inner
                        media.image
                            a(href="#"): img(src="http://placehold.it/220x220" width="220" height="220")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
                        a.btn.btn-primary.cart-btn В КОРЗИНУ
                            i.icon.icon-cart-inv
                .product-item 
                    .bg
                    .inner
                        media.image
                            a(href="#"): img(src="http://placehold.it/220x220" width="220" height="220")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
                        a.btn.btn-primary.cart-btn В КОРЗИНУ
                            i.icon.icon-cart-inv
                .product-item 
                    .bg
                    .inner
                        media.image
                            a(href="#"): img(src="http://placehold.it/220x220" width="220" height="220")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
                        a.btn.btn-primary.cart-btn В КОРЗИНУ
                            i.icon.icon-cart-inv
                .product-item 
                    .bg
                    .inner
                        media.image
                            a(href="#"): img(src="http://placehold.it/220x220" width="220" height="220")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
                        a.btn.btn-primary.cart-btn В КОРЗИНУ
                            i.icon.icon-cart-inv
                .product-item 
                    .bg
                    .inner
                        media.image
                            a(href="#"): img(src="http://placehold.it/220x220" width="220" height="220")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
                        a.btn.btn-primary.cart-btn В КОРЗИНУ
                            i.icon.icon-cart-inv

            .product-pagination
                ul.pagination
                    li.disabled: a(href="#").previous &larr;
                    li.active: a(href="#") 1
                    li: a(href="#") 2
                    li: a(href="#") 3
                    li: a(href="#").next &rarr;

                
        .sidebar
            .affix-block
                ul.side-menu.side-block
                    li.active
                        span Шары
                        = " "
                        span.value 120
                    li
                        a(href="#") Фейерверк
                        = " "
                        span.value 120
                    li
                        a(href="#") Платья
                        = " "
                        span.value 120
                    li
                        a(href="#") Открытки
                        = " "
                        span.value 120
                    li
                        a(href="#") Hand made
                        = " "
                        span.value 120
                    li
                        a(href="#") На стол
                        = " "
                        span.value 120
                    li
                        a(href="#") Цветы
                        = " "
                        span.value 120
                    li
                        a(href="#") Подарки для мужчин
                        = " "
                        span.value 120
                    li
                        a(href="#") Подарки для женщин
                        = " "
                        span.value 120
                    li
                        a(href="#") Подарки для детей
                        = " "
                        span.value 120
        
    article.article
        h2 Воздушные шары

        p Что подарить друзьям и подругам, родным и знакомым на Новый год, День Валентина, 23 февраля, 8 Марта,  День рождения, юбилей, свадьбу и другие торжества? А еще начальнику нужно подобрать подарок и коллегам что-нибудь недорогое... Ломать голову над выбором подарков нам приходится так часто, что иногда мы от этого устаем. 

        p Интернет-магазин "ПОДАРКИ 66.ру", мы надеемся, хотя бы отчасти поможет Вам избавиться от "головной боли" при выборе подарков. Подарки для мужчин и женщин, коллег, шефа (а ведь у него все есть!), друзей и знакомых - мы постарались подобрать такие полезные и забавные подарки, которые Вам приятно будет дарить, а получателю подарка ни за что не захочется его передаривать! 

        h3 Доставка

        p Доставка подарков на дом или в офис по Нижнему Тагилу от 2500 рублей - БЕСПЛАТНО. Покупку можно оплатить как наличными курьеру, так и по безналичному расчету или кредитными картами Visa и MasterCard.


append footer
    include jade/footer
