//Страница услуг
//макет

//Базовый шаблон
extends jade/layout
 
//Подключение mixin
append includes
 
// Подключение библиотек скриптов
append library

    
// Инициализация скриптов
append init

//----------------------------------------------------------------------------------------------------

// Шапка
append header
    include jade/header
    
//Контент
append content

    ul.breadcrumbs
        li: a(href="#") Главная
        li: span Оформление свадьбы под ключ

    h1.page-title Оформление свадьбы под ключ

    .base-grid.product-description
        .main
            .slider-pro.product-pics-slider#product-pics-slider
                .sp-slides
                    .sp-slide
                        img.sp-image(src="http://placehold.it/595x493")
                    .sp-slide
                        img.sp-image(src="http://placehold.it/595x493")
                    .sp-slide
                        img.sp-image(src="http://placehold.it/595x493")
                    .sp-slide
                        img.sp-image(src="http://placehold.it/595x493")
                    .sp-slide
                        img.sp-image(src="http://placehold.it/595x493")
                    .sp-slide
                        img.sp-image(src="http://placehold.it/595x493")
                    .sp-slide
                        img.sp-image(src="http://placehold.it/595x493")
                    .sp-slide
                        img.sp-image(src="http://placehold.it/595x493")
                .sp-thumbnails
                    .sp-thumbnail
                        img.sp-thumbnail-image(src="http://placehold.it/95x80")
                    .sp-thumbnail
                        img.sp-thumbnail-image(src="http://placehold.it/95x80")
                    .sp-thumbnail
                        img.sp-thumbnail-image(src="http://placehold.it/95x80")
                    .sp-thumbnail
                        img.sp-thumbnail-image(src="http://placehold.it/95x80")
                    .sp-thumbnail
                        img.sp-thumbnail-image(src="http://placehold.it/95x80")
                    .sp-thumbnail
                        img.sp-thumbnail-image(src="http://placehold.it/95x80")
                    .sp-thumbnail
                        img.sp-thumbnail-image(src="http://placehold.it/95x80")
                    .sp-thumbnail
                        img.sp-thumbnail-image(src="http://placehold.it/95x80")

        .sidebar
            .side-block.order-block
                .product-price
                    .title Цена
                    .value 
                        span.num 120 
                        | руб.
                        span.counting 10 шт.
                .buttons 
                    a.btn.btn-primary.cart-btn В КОРЗИНУ
                        i.icon.icon-cart-inv
                    a.btn.btn-primary БЫСТРЫЙ ЗАКАЗ
                dl.delivery-info
                    dt.title Самовывоз: Бесплатно
                    dd.value Нижний-Тагил, ул. Ленина, дом 48, офис 1. (c 10:00 до 19:00)
                dl.delivery-info
                    dt.title Доставка: от 120 руб.
                    dd.value Более точную стоимость доставки можете уточнить у менеджера по телефону: 8 800 300 600

    .default-tabs.product-tabs
        ul.nav.nav-tabs(role="tablist")
            li.active: a(href="#info" data-toggle="tab") Описание

        .tab-content
            .tab-pane.active#info
                article.article
                    h2 Красные воздушные шары
                    p Что подарить друзьям и подругам, родным и знакомым на Новый год, День Валентина, 23 февраля, 8 Марта,  День рождения, юбилей, свадьбу и другие торжества? А еще начальнику нужно подобрать подарок и коллегам что-нибудь недорогое... Ломать голову над выбором подарков нам приходится так часто, что иногда мы от этого устаем. Интернет-магазин "ПОДАРКИ 66.ру", мы надеемся, хотя бы отчасти поможет Вам избавиться от "головной боли" при выборе подарков. Подарки для мужчин и женщин, коллег, шефа (а ведь у него все есть!), друзей и знакомых - мы постарались подобрать такие полезные и забавные подарки, которые Вам приятно будет дарить, а получателю подарка ни за что не захочется его передаривать!

    hr

    h2 Популярные услуги

    .product-list-slider
        .products-slider#products-slider
            div
                .product-item 
                    .inner
                        section.image
                            a(href="#"): img(src="http://placehold.it/220x160" width="220" height="160")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
            div
                .product-item 
                    .inner
                        section.image
                            a(href="#"): img(src="http://placehold.it/220x160" width="220" height="160")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
            div
                .product-item 
                    .inner
                        section.image
                            a(href="#"): img(src="http://placehold.it/220x160" width="220" height="160")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
            div
                .product-item 
                    .inner
                        section.image
                            a(href="#"): img(src="http://placehold.it/220x160" width="220" height="160")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
            div
                .product-item 
                    .inner
                        section.image
                            a(href="#"): img(src="http://placehold.it/220x160" width="220" height="160")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
            div
                .product-item 
                    .inner
                        section.image
                            a(href="#"): img(src="http://placehold.it/220x160" width="220" height="160")
                        .text
                            .title: a(href="#") Новогодние яички
                            .price 120 руб.
                
append footer
    include jade/footer
