
<div class="footer-nav container">
  <div class="row">
    <ul class="lvl-1">
      <li><a href="#">Услуги                                                    </a></li>
      <ul class="lvl-2">
        <li><a href="#">Организация свадеб</a></li>
        <li><a href="#">Украшение  зала</a></li>
        <li><a href="#">Подготовка</a></li>
        <li><a href="#">Фольгирование</a></li>
        <li><a href="#">Оформление </a></li>
        <li><a href="#">Подбор персонала</a></li>
      </ul>
    </ul>
    <ul class="lvl-1">
      <li><a href="#">Продукция                                           </a></li>
      <ul class="lvl-2">
        <li><a href="#">Организация свадеб</a></li>
        <li><a href="#">Украшение  зала</a></li>
        <li><a href="#">Подготовка</a></li>
      </ul>
    </ul>
    <ul class="lvl-1">
      <li><a href="#">О компании</a></li>
      <ul class="lvl-2">
        <li><a href="#">Организация свадеб</a></li>
        <li><a href="#">Украшение  зала</a></li>
        <li><a href="#">Подготовка</a></li>
      </ul>
    </ul>
    <ul class="lvl-1 feedback">
      <li>Свяжитесь с нами</li>
      <ul class="lvl-2">
        <!-- используйте класс .reset-paragraphs, если нужно чтобы внутри блока не было отсупов между абзацами-->
        <li class="reset-paragraphs">
          <p>Контактный телефон:</p>
          <p><strong>8 800 3000 600</strong></p>
          <p>E-mail: <a href="#">pochta@mail.ru</a></p>
        </li>
        <li class="reset-paragraphs">
          <p>Адрес: Нижний-Тагил, ул. Ленина, дом 48, офис 1.</p>
        </li>
        <li class="reset-paragraphs">
          <div class="socials"><a href="#" class="sc-vk"></a><a href="#" class="sc-facebook"></a><a href="#" class="sc-twitter"></a><a href="#" class="sc-ok"></a><a href="#" class="sc-google"></a></div>
        </li>
      </ul>
    </ul>
  </div>
</div>
<div class="copyright container">
  <div class="row">
    <div class="shop">© Магазин Креативных Праздников</div>
    <div class="developer">Разработка:  <a href="#">AprilStyle</a></div>
  </div>
</div>